header ul.menu li.contact {
    text-decoration: underline;
}
section.contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 3.5em 3.5em 3.5em 0;
}
div.info-form {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    align-items: center;
    padding: 0 2em;
}
div.contact-title {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}
div.form-container {
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
}
textarea {
    width: 100%;
    min-height: 8vh;
    resize: vertical;
}
button {
    margin-top: 10px;
    width: 25%;
}
div.contact-info {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}
div.contact-info i, div.contact-info a {
    text-align: center;
}
div.contact-image {
    width: 100%;
    height: 70vh;
    padding: 0 1em;
}
div.contact-image img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle;
    border-radius: 5px;
}