header ul.menu li.home {
    text-decoration: underline;
}
section.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5em 7%;
}
section.index img {
    border-radius: 5px;
}
div.main-image {
    width: 100%;/
}
div.main-image img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: 50% 70%;
}
div.text {
    font-size: 2em;
    padding: 3.5em 0;
    margin-left: -10%;
    display: block;
    width: 90%;
}
.esp {  /*hide spanish span by default*/
    display: none;
}



div.images-block {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1em;
    width: 100%;
}
div.images-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.block-1 {
    width: 100%;
}
div.block-2 img {
    width: 100%;
    object-position: 35% 50%;
}
div.block-3 {
    width: 100%;
}



div.see-more {
    width: 100%;
    padding: 5em 0;
}
div.see-more h1 {
    font-size: 2.6em;
}
div.see-more p {
    font-size: 1.6em;
}
div.see-more a {
    text-decoration: underline;
}



div.images-block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
}
div.images-block-2 img {
    height: 100%;
    object-fit: cover;
}
div.block-4 img {
    width: 100%;
    object-position: 45% 50%;
}
div.block-5 img {
    width: 100%;
    object-position: 50% 50%;
}





@media screen and (max-width: 950px) {
    section.index {
        width: 100%;
        padding: 2em 7%;
    }
    div.main-image {
        width: 100%;
    }
    div.main-image img {
        height: 30vh;
    }
    div.text {
        font-size: 1.5em;
        padding: 1em 0;
    }
    

    
    div.images-block {
        grid-template-columns: 1fr;
    }
    div.block-1 {
        object-position: 50% 50%;
    }
    div.block-2 {
        width: 100%;
        object-position: 20% 50%;
    }
    div.block-3 {
        width: 100%;
        object-position: 60% 50%;
    }
    
    

    div.see-more {
        width: 100%;
        padding: 2em 0;
    }
    
    

    div.images-block-2 {
        grid-template-columns: 1fr;
    }
}