section.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.main-image {
    background-image: url('/assets/images/IMG_4117-2-medio.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 60%;
    width: 85%;
    height: 80vh;
    margin-top: 5em;
}
div.text {
    font-size: 2em;
    padding: 2em;
    display: block;
}
.esp {  /*hide spanish span by default*/
    display: none;
}