section.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5em 7%;
}
div.main-image {
    width: 100%;
    height: 70vh;
    z-index: 1;
    background-image: url('/assets/images/supra/supramk3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 70%;
    border-radius: 5px;
}
div.text {
    font-size: 2em;
    padding: 2em 0 5em 0;
    margin-left: -10%;
    display: block;
    width: 90%;
}
.esp {  /*hide spanish span by default*/
    display: none;
}


div.images-block {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1em;
    width: 100%;
    height: 65vh;
}
div.images-block div {
    border-radius: 5px;
}
div.block-1 {
    width: 100%;
    background-image: url('/assets/images/civic/vtec-engine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 40%;
}
div.block-2 {
    width: 100%;
    background-image: url('/assets/images/civic/civic-rim.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


div.see-more {
    width: 100%;
    padding: 5em 0;
}
div.see-more h1 {
    font-size: 2.6em;
}
div.see-more p {
    font-size: 1.6em;
}
div.see-more a {
    text-decoration: underline;
}


div.images-block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
    height: 65vh;
}
div.images-block-2 div {
    border-radius: 5px;
}
div.block-3 {
    width: 100%;
    background-image: url('/assets/images/civic/interior.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
div.block-4 {
    width: 100%;
    background-image: url('/assets/images/GT3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 40%;
}
div.block-5 {
    width: 100%;
    background-image: url('/assets/images/GT3-Cup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}