header ul.menu li.portfolio {
    text-decoration: underline;
}
section.portfolio {
    display: flex;
    flex-direction: row;
    margin: 2.5em 12em;
}
div.portfolio-column {
    width: 100%;
}
section.portfolio img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 8px;
}




@media screen and (max-width: 950px) {
    section.portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1em 1em;
    }
}