header ul.menu li.portfolio {
    text-decoration: underline;
}
section.portfolio {
    display: flex;
    flex-direction: row;
    margin: 2.5em 12em;
}
div.portfolio-column {
    width: 100%;
}

/* Hover text links */
div.portfolio-column a {
    width: 100%;
    height: 100%;
    position: relative;
}
span.hover-text {
    width: 100%;
    display: block;
    position: absolute;
    top: 100px;
    left: 150px;
}
div.portfolio-column a:hover span.hover-text {
    display: block;
}
div.portfolio-column img {
    transition: 250ms ease-in-out;
}
div.portfolio-column a:hover img {
    filter: blur(2px);
}
section.portfolio img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 8px;
}